/* CODIGO POR: IRALDO ARMANDO GONZALEZ CARVALLO
   ESTUDIANTE DE GRADO SUPERIOR - IES FRANCESC DE BORJAMOLL */
body{
  background-image: url("../images/fondo.png");
  background-repeat: repeat;
}
#cuerpo{
  margin: 0 13%;
}
/* Hasta aquí la estructura básica de la página - (Deja márgenes a los lados y pone imagen de fondo) */

/* La web está dividida en tres partes, superior central e inferior */
/* "portada" Es el div de la parte superior de la web */
#portada{
  height: 16.45em;
  width: 100%;
  background-image: url("../images/museu/portada.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-size: cover;
}
#portada #logo{
  float: left;
  top: 40px;
  height: 50px;
  width: 77px;
}
#portada .titulo{
  position: relative;
  padding: 1em;
  width: 80%;
  float: left;
}
.lan_box{
  position: relative;
  float: right;
  height: 1.4em;
  
  background-color: white;
}
@media only screen and (max-width: 1145px) {
  .lan_box{
    visibility: hidden;
  }
}
.lan_btn{
  width: 5.5em;
  height: 1.8em;
  padding: 0;
}
.lan_btn:hover{
  background-color: #440912;
  border-color: #440912;
  color: white;
}
.lan_btn span:hover{
  color: white;
}
.lan_menu{
  background-color: white;
  min-width: 4em;
  width: 4.3em;
}
.lan_menu .dropdown-item[value="ES"]{
  background-color: red;
}
.img_lan_logo{
  width: 1.8em;
  height: 1.25em;
}
#cont{
  position: relative;
  float: right;
  top: 78.5%;
  padding: 0;
  height: 35px;
  width: 105px;
}
/* Ajuste para el botón de contacto (se descoloca) */
@media only screen and (max-width: 1246px) {
  #cont{
    visibility: hidden;
  }
}
@media only screen and (min-width: 1842px) {
  #cont{
    top: 87%;
    right: -88px;
  }
}

#cont:hover{
  background-color: rgb(138, 26, 43);
  border-color: rgb(138, 26, 43);
  color:white;
}

/* "tronco" Es el div de la parte central de la web */
#tronco{
  margin-top: 0.7em;
  display: flex;
}
.menu-lateral{
  margin: 0;
  width: 30%;
  float: left;
}
.menu-lateral .nav{
  width: 90%;
  margin: 0;
}
.menu-lateral .nav a{
  width: 90%;
  background-color: #440912;
  margin: 0 0 0.3em 0;
  padding: 0.8em;
  color: white;
  font-weight: bold;
}
.menu-lateral .nav .active{
  background-color: #AB2A3E;
  width: 95%;
}
.menu-lateral .nav :hover{
  background-color: #B34959;
  width: 100%;
}

/* "contenido" Es la página en sí, la información que se tendrá que desplegar
   dependiendo de en qué apartado del menú hayas entrado
   tiene un "titular" y un cuadro de texto "info" */
#contenido{
  margin: 0;
  text-align: center;
  background-color: #f8f7f7;
  width: 70%;
  float: right;
}
.titular{
  margin: 0;
  text-align: center;
  background-color: #440912;
  padding: 0.12em;
  position: relative;
}
.info{
  padding-top: 1em;
}
.info p{
  padding: 0.2em 1.2em 0.4em 1.2em;
}

img.expo{
  width: 220px;
  height: 178px;
}
#carruselExpo1{
  height: 300px;
  width: 450px;
  margin-left: 7.5%;
}
#carruselExpo1 .carousel-item{
  height: 300px;
  width: 450px;
}
.objeto.expo{
  padding: 15px;
  width: 250px;
  height: 410px;
  float: none;
  margin: 0 auto;
  margin-bottom: 20px;
}
.expo p{
  font-size: 0.72em;
  color: #440912;
}

.objeto.noticia{
  margin: 5px;
  margin-bottom: 15px;
}
img.noticia{
  padding-top: 10px;
}

.downloadLink{
  margin-top: 3.2em;
}

.downloadLink a img{
  max-height: 36px;
  max-width: 21px;
}

form div#inicio{
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
}
form div#inicio .col{
  width: 45%;
  margin: 0 2.5% 0 2.5%;
}
form div#mensaje{
  margin-top: 15px;
}
.mensaje{
  resize: none;
  overflow: auto;
  width: 80%;
  margin-left: 10%;
}
form div#envio{
  margin-top: 30px;
  margin-bottom: 15px;
}

#btn-mensaje{
  margin: 0 auto;
  float: none;
  height: 40px;
}
#telefono{
  margin: 0 auto;
  float: none;
  margin-top: 25px;
  font-size: 1.1em;
}
.link-balaguer{
  color: #B34959;
}
.link-balaguer:hover{
  color: rgb(204, 115, 128);
}
.media_title.mail{
  font-size: 0.8em;
}

#contactar{
  margin-left: 30px;
}

table{
  background-color: #e2e2e2;
  border: 2px;
  border-style: solid;
}
table td{
  border: 1px;
  border-style: solid;
  border-color: black;
}

#visitas li{
  text-align: left;
}
td:first-child{
  background-color: #f09eb0;
  font-weight: bold;
}

td ul{
  padding: 15px;
  padding-left: 30px;
}

#actividades{
  margin-top: 20px;
  margin-bottom: 30px;
}
#actividades tr:first-child{
  background-color: #f3829b;
  font-weight: bold;
}
#actividades p{
  margin-bottom: 0;
}

@media only screen and (max-width: 1400px){ /* Arreglo para el texto de la tabla */
  table{
    font-size: 0.8em;
  }
}

/* Clases de la "tienda" */
.objeto{
  border: 1px solid;
  border-color: #d4d4d4;
  box-shadow: 2px 4px #aaaaaa;
}
.objeto.tienda{
  max-width: 160px;
  max-height: 280px;
}
.objeto.tienda:hover{
  background-color: #d4d4d4;
}
.objeto.tienda img{
  height: 100px;
  width: 100px;
}
#row-tienda{
  padding: 15px 15px 25px 15px;
}



/* Este es el footer o parte inferior de la web */
footer{
  background-color: #440912;
  height: 190px;
  padding: 18px;
  margin-top: 5em;
}
.logo{
  margin: 0 0 0.8em 1.9em;
  height: 30px;
  width: 30px;
}
#media{
  margin-left: 20px;
  max-width: 130px;
  float: left;
}
#mapaGoogle{
  height: 130px;
  width: 130px;
}
@media only screen and (max-width: 1105px){ /* Arreglo para la imagen de google maps */
  #localizacion{
    display: none;
  }
}


/* Estas son las clases que utiliza la página para poner textos */
.t1{ /* He preferido crear estas clases en lugar de usar h1, h2, etc */
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.4em;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px rgb(97, 95, 95);
}
.t2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.8em;
  color: white;
}
.t3{
  font-weight: bold;
  font-size: 1.2em;
}
.lang {
  font-size: 0.8em;
  /*font-weight: bold;*/
  color: rgb(97, 95, 95);
  padding: 0 0 5px 0;
}
.cont{
  text-decoration: none;
  color: rgb(97, 95, 95);
  font-size: 0.9em;
}
.cont:hover{
  text-decoration: none;
  color: white;
}
.difuso{
  color: rgb(116, 116, 116);
}
.media_title{
  color: rgb(148, 148, 148);
  font-weight: bold;
  margin-bottom: 10px;
}
#copyleft{
  margin: 0;
  right: 2px;
  position: relative;
}
.copyleft{
  font-size: 0.8em;
  margin-right: 15px;
  position: relative;
}

.btn-balaguer a{
  text-decoration: none;
  color: white;
}
.btn-balaguer a:hover{
  text-decoration: none;
  color: white;
}
.btn-balaguer .light a{
  text-decoration: none;
  color: white;
}
.btn-balaguer .light a:hover{
  text-decoration: none;
  color: white;
}

.btn-balaguer2.light a{
  text-decoration: none;
  color: white;
}
.btn-balaguer2.light a:hover{
  text-decoration: none;
  color: white;
}

.info ol{
  text-align: left;
}
.info ol li{
  padding: 0.4em;
}

.btn-balaguer{
  background-color: #440912;
  border-color: #AB2A3E;
}
.btn-balaguer:hover{
  background-color: #AB2A3E;
}

.btn-balaguer.light{
  background-color: #AB2A3E;
  border-color: #440912;
  color: rgb(148, 148, 148);
}
.btn-balaguer.light:hover{
  background-color: #440912;
  color: white;
}

.btn-balaguer2.light{
  background-color: #B34959;
  border-color: #AB2A3E;
  color: rgb(148, 148, 148);
}
.btn-balaguer2.light:hover{
  background-color: #AB2A3E;
  color: white;
}



/* Ajustes para que el texto del menú no se divida en una segunda línea según el tamaño de la web */
@media only screen and (max-width: 1900px) {
  .menu-lateral .nav a{
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 1492px) {
  .menu-lateral .nav a{
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 1240px) {
  .menu-lateral .nav a{
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 1087px) {
  .menu-lateral .nav a{
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 933px) {
  .menu-lateral .nav a{
    font-size: 0.55em;
  }
}
@media only screen and (max-width: 856px) {
  .menu-lateral .nav a{
    font-size: 0.50em;
  }
}


@media only screen and (max-width: 855px) {
  #portada .titulo{
    font-size: 2.1em;
  }
}

/* Ajuste del espacio entre el Menú Lateral y el Contenido de las páginas según el tamaño de la pantalla */
@media only screen and (min-width: 1470px) {
  .menu-lateral{
    width: 28%;
  }
  #contenido{
    width: 72%;
  }
}
@media only screen and (min-width: 1580px) {
  .menu-lateral{
    width: 26%;
  }
  #contenido{
    width: 74%;
  }
}
@media only screen and (min-width: 1750px) {
  .menu-lateral{
    width: 24%;
  }
  #contenido{
    width: 76%;
  }
}

