/* CÓDIGO POR: IRALDO ARMANDO GONZÁLEZ CARVALLO
   ESTUDIANTE DE GRADO SUPERIOR - IES FRANCESC DE BORJAMOLL */
body{
  background-image: url("../images/fondo.png");
  background-repeat: repeat;
}
.cuerpo{
  margin: 0 13%;
}
/* Hasta aquí la estructura básica de la página - (Deja márgenes a los lados y pone imagen de fondo) */

/* La web está dividida en dos partes, superior e inferior */
/* "portada" Es el div de la parte superior de la web, lo que sería el "header" */
.portada{
  height: 16.45em;
  width: 100%;
  background-image: url("../images/museu/portada.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-size: cover;
}
.portada .titulo{
  position: relative;
  padding: 1em;
  width: 80%;
  float: left;
}
.lan_box{
  position: relative;
  float: right;
  height: 1.4em;
  
  background-color: white;
}
.lan_btn{
  width: 5.5em;
  height: 1.8em;
}
.lan_menu{
  background-color: white;
  min-width: 4em;
  width: 4.3em;
}
.lan_menu .dropdown-item[value="ES"]{
  background-color: red;
}
.img_lan_logo{
  width: 1.8em;
  height: 1.25em;
}

/* "tronco" Es el div de la parte inferior de la web, lo que sería el body */
.tronco{
  margin-top: 0.7em;
}
.menu-lateral{
  margin: 0;
  width: 30%;
  float: left;
}
.menu-lateral .nav{
  width: 90%;
  margin: 0;
}
.menu-lateral .nav a{
  width: 90%;
  background-color: #440912;
  margin: 0 0 0.3em 0;
  padding: 0.8em;
  color: white;
  font-weight: bold;
}
.menu-lateral .nav .active{
  background-color: #AB2A3E;
  width: 95%;
}
.menu-lateral .nav :hover{
  background-color: #B34959;
  width: 100%;
}

/* "contenido" Es la página en sí, la información que se tendrá que desplegar
   dependiendo de en qué apartado del menú hayas entrado
   tiene un "titular" y un cuadro de texto "info" */
.contenido{
  margin: 0;
  text-align: center;
  background-color: #f8f7f7;
  width: 70%;
  float: right;
}
.titular{
  margin: 0;
  text-align: center;
  background-color: #440912;
  padding: 0.12em;
  position: relative;
}
.info{
  padding-top: 1em;
}
.info p{
  padding: 0 0.5em 0.4em 0.5em;
}
.downloadLink a{

}
.downloadLink a img{
  max-height: 36px;
  max-width: 21px;
}

/* Estas son las clases que utiliza la página para poner textos */
.t1{ /* He preferido crear estas clases en lugar de usar h1, h2, etc */
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.4em;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px rgb(97, 95, 95);
}
.t2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.8em;
  color: white;
}
.lang {
  font-size: 0.8em;
  /*font-weight: bold;*/
  color: rgb(97, 95, 95);
  padding: 0 0 5px 0;
}

ul{
  text-align: left;
}

/* Ajustes para que el texto del menú no se divida en una segunda línea según el tamaño de la web */
@media only screen and (max-width: 1300px) {
  .menu-lateral .nav a{
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 1190px) {
  .menu-lateral .nav a{
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 1050px) {
  .menu-lateral .nav a{
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 910px) {
  .menu-lateral .nav a{
    font-size: 0.65em;
  }
}
@media only screen and (max-width: 840px) {
  .menu-lateral .nav a{
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 855px) {
  .portada .titulo{
    font-size: 2.1em;
  }
}

/* Ajuste del espacio entre el Menú Lateral y el Contenido de las páginas según el tamaño de la pantalla */
@media only screen and (min-width: 1400px) {
  .menu-lateral{
    width: 28%;
  }
  .contenido{
    width: 72%;
  }
}
@media only screen and (min-width: 1580px) {
  .menu-lateral{
    width: 26%;
  }
  .contenido{
    width: 74%;
  }
}
@media only screen and (min-width: 1750px) {
  .menu-lateral{
    width: 24%;
  }
  .contenido{
    width: 76%;
  }
}