body{
  background-image: url("../images/fondo.png");
  background-repeat: repeat;
}
.cuerpo{
  margin: 0 14% 0 14%;
}

.portada{
  height: 30%;
  width: 100%;
  background-image: url("../images/museu/portada.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-size: cover;
}
.portada .titulo{
  position: relative;
  padding: 1em;
  max-width: 100%;
  float: left;
}
.lan_box{
  position: relative;
  float: right;
  height: 1em;
  width: 2em;
  background-color: gray;
}
.lan_box img:lang(es) {
  src: url("../images/logo/es.png");
  max-height: 80%;
  max-width: 50%;
}


.tronco{
  margin-top: 0.7em;
}
.t1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.4em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px rgb(97, 95, 95);
}
.t2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.8em;
  color: white;
}
.contenido{
  margin: 0;
  text-align: center;
  background-color: #f3f3f3;
  width: 70%;
  float: right;
}
.titular{
  margin: 0;
  text-align: center;
  background-color: #440912;
  padding: 0.12em;
}
.info{
  height: 400px;
}






.menu-lateral{
  margin: 0;
  width: 30%;
  float: left;
}
.menu-lateral .nav{
  width: 90%;
  margin: 0;
}
.menu-lateral .nav a{
  width: 90%;
  max-width: 234px;
  background-color: #440912;
  margin: 0 0 0.3em 0;
  padding: 0.8em;
  color: white;
  font-weight: bold;
}
.menu-lateral .nav .active{
  background-color: #AB2A3E;
  width: 100%;
  max-width: 260px;
}
.menu-lateral .nav :hover{
  background-color: #B34959;
  width: 100%;
  max-width: 265px;
}




@media only screen and (min-width: 1400px) {
  .menu-lateral{
    width: 28%;
  }
  .contenido{
    width: 72%;
  }
}
@media only screen and (min-width: 1580px) {
  .menu-lateral{
    width: 26%;
  }
  .contenido{
    width: 74%;
  }
}
@media only screen and (min-width: 1750px) {
  .menu-lateral{
    width: 24%;
  }
  .contenido{
    width: 76%;
  }
}